# 分类

##### 1、决策树

In [2]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
%matplotlib inline

In [3]:
data = pd.read_csv('Labeled.csv')
#data["date"] = pd.factorize(data["date"])[0].astype(np.uint16)#将日期序列化
data.head()

,location,date,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,O02,10-18-2016 11:15:21,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
1,P01,10-18-2016 11:15:19,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
2,P01,10-18-2016 11:15:17,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
3,P01,10-18-2016 11:15:15,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
4,P01,10-18-2016 11:15:13,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200

In [4]:
#把时间转化成时间戳
import time
data.describe()
for i in range(len(data['date'])):
    dt = data.loc[i,'date']
    timeArray = time.strptime(dt, "%m-%d-%Y %H:%M:%S")#Y 必须大写
    #转换成时间戳
    timestamp = time.mktime(timeArray)
    data.loc[i,'date']=timestamp
data.head()

,location,date,b3001,b3002,b3003,b3004,b3005,b3006,b3007,b3008,b3009,b3010,b3011,b3012,b3013
0,O02,1476760521,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
1,P01,1476760519,-200,-200,-200,-200,-200,-78,-200,-200,-200,-200,-200,-200,-200
2,P01,1476760517,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
3,P01,1476760515,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200
4,P01,1476760513,-200,-200,-200,-200,-200,-77,-200,-200,-200,-200,-200,-200,-200

In [5]:
X = data.drop('location', axis=1)#X为包含14个特征值的矩阵
y = data.location

In [63]:
#划分出训练集&测试集
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25,random_state=1)

pandas.core.frame.DataFrame

In [49]:
from sklearn import tree
clf = tree.DecisionTreeClassifier(max_depth=100)#设置高度为300
clf = clf.fit(X_train, y_train)#生成决策树
#tree = tree.plot_tree(clf)

In [50]:
#用测试集预测准确度
clf.score(X_test, y_test)

0.4056338028169014

##### 2、支持向量机

In [51]:
from sklearn import svm
clf = svm.SVC(gamma='scale', decision_function_shape='ovo')
clf.fit(X_train, y_train)

SVC(C=1.0, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovo', degree=3, gamma='scale', kernel='rbf',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

In [52]:
#支撑向量(距离超平面最近的向量,支撑着分界面)
clf.support_vectors_

array([[ 1.47675870e+09, -2.00000000e+02, -2.00000000e+02, ...,
        -2.00000000e+02, -2.00000000e+02, -2.00000000e+02],
       [ 1.47425789e+09, -2.00000000e+02, -2.00000000e+02, ...,
        -2.00000000e+02, -2.00000000e+02, -2.00000000e+02],
       [ 1.47425789e+09, -2.00000000e+02, -2.00000000e+02, ...,
        -2.00000000e+02, -2.00000000e+02, -2.00000000e+02],
       ...,
       [ 1.47675927e+09, -2.00000000e+02, -2.00000000e+02, ...,
        -2.00000000e+02, -1.99000000e+02, -6.70000000e+01],
       [ 1.46907444e+09, -2.00000000e+02, -2.00000000e+02, ...,
        -2.00000000e+02, -2.00000000e+02, -7.50000000e+01],
       [ 1.47554939e+09, -2.00000000e+02, -2.00000000e+02, ...,
        -2.00000000e+02, -2.00000000e+02, -5.90000000e+01]])

In [53]:
#用测试集预测准确度
clf.score(X_test, y_test)

0.02535211267605634

###### 3、随机森林

In [54]:
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier(n_estimators=10)
clf = clf.fit(X_train, y_train)

In [57]:
#用测试集预测准确度
clf.score(X_test, y_test)

0.4225352112676056